{% extends "base.html" %}
{% block title %}Add training{% endblock %}
{% block content %}
<div class="container container--pall">
    <section class='add-training flex'>
        <div class='add-training__head'>
            <h1 class='add-training__head__company'>Add training 💪🏻</h1>
        </div>
        <div class='add-training__form'>
            <form method="POST">
                <label class="label_category" for="category">Category:</label>
                <select class='category' id="category" name="category">
                    <option value="Running">Running</option>
                    <option value="Yoga">Yoga</option>
                    <option value="Meditation">Meditation</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Weights">Weights</option>
                    <option value="Boxing">Boxing</option>
                </select><br><br>
                <label class="label_notes" for="note">Your notes</label>
                <textarea class="note" id="note" name="note" rows="5" cols="33" placeholder="Share your thoughts about the training!"></textarea><br><br>
                <label class="label_category" for="date">Date:</label>
                <input class="date" type="date" name="date" id="date"><br/>
                <button class="add-btn" type="submit">Add training</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}