{% extends "base.html" %}
{% block title %}Add water intake{% endblock %}
{% block content %}
<div class="container container--pall">
    <section class='add-training flex'>
        <div class='add-training__head'>
            <h1 class='add-training__head__company'>Add a training 💪🏻</h1>
        </div>
        <div class='add-training__form'>
            <form method="POST">
                <input type="number" id="weight" name="weight" step="0.1">
                <label for="weight"> kg</label>
                <button class="login-btn" type="submit">Update weight</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}