{% extends "base.html" %}
{% block title %}Add water intake{% endblock %}
{% block content %}
<div class="container container--pall">
    <section class='update-weight flex'>
        <div class='update-weight__head'>
            <h1 class='update-weight__head__company'>Update weight🏋🏻‍♀️</h1>
        </div>
        <div class='update-weight__form'>
            <form method="POST">
                <input class="weight" type="number" id="weight" name="weight" step="0.1">
                <label for="weight"> kg</label>
                <button class="add-btn" type="submit">Update weight</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}