{% extends "base.html" %}
{% block title %}Add water intake{% endblock %}
{% block content %}
<div class="container container--pall">
    <section class='add-training flex'>
        <div class='add-training__head'>
            <h1 class='add-training__head__company'>Add water intake 🥤</h1>
        </div>
        <div class='add-training__form'>
            <form method="POST">
                <input type="number" id="cup" name="cup">
                <label for="cup">glasses (250 ml)</label>
                <button class="login-btn" type="submit">Add training</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}