{% extends "base.html" %}
{% block title %}Add water intake{% endblock %}
{% block content %}
<div class="container container--pall">
    <section class='add-water flex'>
        <div class='add-water__head'>
            <h1 class='add-water__head__company'>Add water intake 🥤</h1>
        </div>
        <div class='add-water__form'>
            <form method="POST">
                <input class="number" type="number" id="cup" name="cup">
                <label for="cup">glasses (250 ml)</label>
                <button class="add-btn" type="submit">Add cups</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}