<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"
        integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/6702c2301e.js" crossorigin="anonymous"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <header class="header">
        <nav class="container--pall flex flex-jc-sb flex-ai-c">
            <p class="header__logo">WorkoutSpot</p>
            <div class="header__links" id="header__links">
                <a id="link" href="/home" onclick="addActiveClass('link');">Home</a>
                <a id="link" href="/stats" onclick="addActiveClass('link');">Stats</a>
                <a id="link" href="/inspiration" onclick="addActiveClass('link');">Inspiration</a>
                <a href="/logout">
                    <button class="header__btn-logout">Log out</button>
                </a>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="social-links flex flex-jc-c">
            <a href="https://github.com/AnastasiaCherniakh" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/anastasia.cherniakh" target="_blank"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/__anastaysha___/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
</body>
</html>