<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"
        integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <header class="header">
        <nav class="container--pall flex flex-jc-sb flex-ai-c">
            <p class="header__logo">WorkoutSpot</p>
            <div class="header__links">
                <a href="/home">Home</a>
                <a href="/stats">Stats</a>
                <a href="/inspiration">Inspiration</a>
                <a href="/logout">
                    <button class="header__btn-logout">Log out</button>
                </a>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </header>
</body>
</html>